/*搜索栏目*/
#search{
	width: 1190px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
#search .logo{
	float: left;
	width: 190px;
	display: block;
	height: 80px;
	overflow: hidden;
}
#search .main_search{
	height: 100px;
	left: 370px;
	position: absolute;
	top: 0;
	width: 600px;
}
#search form{
	margin: 0;
	padding: 0;
}
#search .main_search .ng_search{
	display: inline-block;
	float: right;
	margin: 28px 0 0;
	position: relative;
	width: 600px;
	/*background: #ccc;*/
}
.search-keyword-box{
	border-color: #ffaa00;
	border-style: solid none solid solid;
	border-width: 2px medium 2px 2px;
	/*height: 45px;*/
	padding-left: 30px;
	float: left;
    position: relative;
}
#searchKeywords{
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #ccc;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin-top: 0;
    padding: 8px 10px 8px 0;
    width: 458px;
}
.search-btn{
	background: #FFAA00;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: "MicroSoft YaHei";
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    letter-spacing: 7px;
    margin-top: 0;
    padding: 0 30px;
    width: 100px;
    float: left;
}
.search-btn:hover{
	background: #ff8800;
}
.hotwords{
	color: #999;
	float: left;
	height: 18px;
	margin-top: 5px;
	overflow: hidden;
	width: 100%;
}
.hotwords a{
	color: #999;
	float: left;
	font-size: 12px;
	margin-right: 10px;
	white-space: nowrap;
}
.hotwords a:hover{
	color: #FF6600;
}
/*搜索栏目结束*/
